/* Element styling override */
body{
  margin: 0px;
}
h1{
  margin: 0px;
  color: #364356;
}
h2{
  margin: 0px;
  color: #364356;
  font-style: italic;
}
h3{
  margin-bottom: 0px;
}
h4{
  margin-top: 0px;
}

/* Major components */
.header{
  grid-area: header;
  background-color: #FA5D6B;
  padding:  10px;
}
.main-body{
  grid-area: main-body;
  padding:  10px;
}
.sidebar{
  grid-area: sidebar;
  background-color: #EDECEA;
  padding:  10px;
}
.footer{
  grid-area: footer;
  background-color: #364356;
  text-align: center;
}
.grid-container-master{
  display: grid;
  grid-template-columns: auto 23%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main-body sidebar"
    "footer footer";
}

/* Header styling */
.picture{
  grid-area: picture;
  height: 100px;
  text-align: center;
}
.picture2{
  grid-area: picture;
  height: 170px;
  text-align: center;
  margin-top: 2px;
}
.profile-picture{
  grid-area: picture;
}
.name-title{
  grid-area: name;
}
.grid-container-header{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 20px;
  grid-template-areas:
    "picture name";
}

/* Main body styling */
.section-title{
  color: #BD9F63;
  border-bottom: 3px solid #FA5D6B;
}
.subsection-title {
  display: flex;
  justify-content: space-between;
}
.work{

}
.education{

}
.extra{

}

/* Footer styling */
.footer-text{
  color: #BD9F63;
  margin-bottom: 20px;
  text-align: center;
}
